:root {
    --notepad-color: rgb(28, 28, 28);
    --background-color: rgb(9, 9, 9);
    --icon-color: rgb(75, 75, 75);
    --text-color: rgb(255, 255, 255);
    --header-color: rgb(41, 41, 41);
}

body {
    background-color: var(--background-color);
}

.lightMode {
    --notepad-color: #eeeeee;
    --background-color: rgb(255, 255, 255);
    --text-color: black;
}

.lightMode #theme svg:first-child {
    display: none;
}

.lightMode #theme svg:last-child {
    display: block;
}

#theme {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color: var(--icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 100px;
    right: 20px;
}

.Plusbutton {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color: var(--icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 100px;
    right: 20px;
}

#saveNote {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color: var(--icon-color);
}

#saveNote:active {
    transform: scale(0.9);
    transition: 0.1s ease-in-out;
}

#saveNote:hover {
    cursor: pointer;
}

#theme:active {
    transform: scale(0.9);
    transition: 0.1s ease-in-out;
}

#theme:hover {
    cursor: pointer;
}

#theme svg:last-child {
    display: none;
}

.savenoteButton:first-child {
    display: none;
}

.add {
    all: unset;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
}

.add:active {
    transform: scale(0.9);
    transition: 0.1s ease-in-out;
}

.addNewNote {
    background-color: var(--notepad-color);
    width: 100%;
    height: 15rem;
    min-height: 10rem;
    min-width: 10rem;
    max-width: 26rem;
    max-height: 26rem;
    overflow: auto;
    overflow: hidden;
    border-radius: 15px;
    position: absolute;
    /* resize: both; */
}

.addNewNote:first-child {
    display: none;
}

.newtext {
    background: transparent;
    outline: none;
    border: none;
    resize: none;
    width: 100%;
    height: 80%;
    font-family: sans-serif;
    font-size: large;
    color: var(--text-color);
    text-decoration: none;
    padding: 4%;
}

.main-container {
    margin-bottom: 20px;
}

.noteHeader {
    height: 30px;
    background-color: var(--header-color);
}

.trash {
    border: none;
    padding: none;
    margin-top: 2px;
    background: transparent;
    transition: ease-in-out
}

.trash:hover {
    cursor: pointer;
    transform: scale(1.2);
}